body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #2a2022, #6c4d32, #849479, #e2d197);
  color: #fff;
}

.header {
  background-color: #6c4d32;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__title {
  color: #fff;
  margin: 0;
  font-size: 3rem;
  text-shadow: 1px 1px #2a2022;
}

.header__message {
  color: #fff;
  font-style: italic;
  text-shadow: 1px 1px #2a2022;
}

.form__group {
  width: 20%;
  margin: 0 auto;
}

.form__label {
  color: white;
}


.horned-beast {
  background-color: #849479;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.horned-beast__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horned-beast__title {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px #6c4d32;
}

.horned-beast__image {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}

.horned-beast__description {
  margin: 0;
  font-size: 0.9rem;
  text-align: center;
  text-shadow: 1px 1px #6c4d32;
}

.horned-beast__instruction {
  font-size: 14px;
  font-style: italic;
  margin: 0.5rem 0;
  color: #e2d197;
  text-shadow: 1px 1px #2a2022;
}

.footer {
  background-color: #6c4d32;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer__copyright {
  color: #e2d197;
  margin: 0;
  font-size: 0.9rem;
  text-shadow: 1px 1px #2a2022;
}
